<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RStorage panel</title>
		<link rel="stylesheet" href="/css/index.css">
		<script src="/js/download.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
		<script src="/js/main.js"></script>
        <script src="/js/socket.js"></script>
	</head>
    <body>
        <button id="button" onclick="window.location.href = '/files/view?path=/'">Browse files</button>
        
        <table>
            <tr>
                <th>Node ID</th>
                <th>Connected?</th>
                <th>Edit</th>
            </tr>
            <% nodes.forEach(node => { %>
                <tr>
                    <td><%=node.id%></td>
                    <td><%=node.connected%></td>
                    <td><button id="button" onclick="window.location.href = '/nodes/<%=node.id%>/edit'">Edit</button></td>
                </tr>
            <% }); %>
            <tr>
                <th>
                    <input type="text" id="ip" name="ip" placeholder="ip" value="localhost" required>
                    <input type="number" id="port" name="port" placeholder="port" value="3001" required></th>
                    <th><textarea type="test" id="ca" name="ca" required>-----BEGIN CERTIFICATE-----
----END CERTIFICATE-----</textarea></th>
                <th><button id="button" onclick="nodeCreate();">Add</button></th>
            </tr>
        </table>
        <table>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Permissions</th>
                <th>Edit</th>
            </tr>
            <% users.forEach(user => { %>
                <tr>
                    <td><%=user.id%></td>
                    <td><%=user.username%></td>
                    <td><%=user.email%></td>
                    <td><%=user.permissions%></td>
                    <td><button id="button" onclick="window.location.href = '/accounts/<%=user.id%>/edit'">Edit</button></td>
                </tr>
            <% }); %>
        </table>
        <p id="response" style="color: red"></p>
    </body>
</html>