<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RStorage panel</title>
		<link rel="stylesheet" href="/css/index.css">
		<script src="/js/download.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/socket.io-stream.min.js"></script>
		<script src="/js/main.js"></script>
        <script src="/js/socket.js"></script>
	</head>
    <body>
        <!-- <form method="POST" action="/files/upload?path=<%=path%>" enctype="multipart/form-data">
            <input type="submit" value="upload" />
            <input type="file" name="upload" />
        </form> -->

        <button onclick="fileUpload();">upload</button>
        <input id="file" type="file" name="upload"/>
        <span id="percentage-upload"></span><br>

        <button onclick="dirCreate();">Create directory</button>
        <input id="createDirectory" type="text" value="<%=path%>">

        <table>
            <tr>
                <th>Name</th>
            </tr>
            <% if (path !== '/') { %>
                <tr>
                    <td><a onclick="moveoneback();">../</a></td>
                </tr>
            <% } %>
            <%directories.forEach(directory => {%>
                <tr>
                    <td><a href="?path=<%=directory.path%>"><%=directory.path%></a></td>
                </tr>
            <%})%>
            <%files.forEach(file => { %>
                <tr>
                    <td><%=file.name%></td>
                    <th><button onclick="fileDelete('<%=path%>', '<%=file.name%>');">Delete</button></th>
                    <th><button onclick="fileDownload('<%=path%>', '<%=file.name%>');">Download</button></th>
                </tr>
            <% }); %>
        </table>

        <p id="response" style="color: red"></p>
        <p id="messages"></p>
    </body>
</html>